@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf') format('truetype'),
         url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'plus Jakarta Sans', sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: hsl(191, 100%, 94%); 
}

.container {
    width: 80%;       
    max-width: 700px; 
    height: 400px;    
    background-color: rgb(255, 255, 255); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 15px; 
    /* padding: 0px 0px 0px 20px;        */
    /* text-align: center; */
    display: flex;
    flex-direction: row;
}

.form {
    padding: 20px;
    min-width: 50%;
}

.results {  
    /* flex: 1; */
    padding: 20px;
    background-color: rgb(1, 35, 59);
    color: #efefef;
    border-radius: 0px 15px 15px 50px;
    min-width: 50%;

}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    /* text-align: center; */
}

header h2{
    font-size: 1rem;
    color: rgb(1, 35, 59);
    margin: 0;
    padding: 0;
}

header a{
    font-size: 0.7rem;
    color: rgb(133, 133, 133);
    margin: 0;
    padding: 0;
}

label{
    font-size: 0.7rem;
    color: rgb(133, 133, 133);
    margin: 0;
    padding: 0px 0px 0px 5px;  
}

#mort, #mt, #ir{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    box-sizing: border-box;
    color: rgb(1, 35, 59);
    /* font-weight: 700; */
}

#mort{
    margin-bottom: 15px;
}

#mortgage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#box{
    border: 1px solid #ccc;
    padding: 7px;
    border-radius: 3px;
    margin: 7px;
   
}

#box #inter{
    font-size: 12px;
    font-weight: 700px;
    font-style: bold;
    color: rgb(1, 35, 59);
}

/* .btn{
    background-color: rgb(175, 219, 0);
    color: rgb(1, 35, 59);
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    display: block;
} */

/* #calculator > span{
    margin-top: 0px;
    margin-bottom: 10px;
}*/

#calculator > img{
    width: 17px;
    height: 17px;
   
} 

button{
    background-color: rgb(175, 219, 0);
    color: rgb(1, 35, 59);
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.results{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.results p{
    font-size: 10px;
    font-weight: 100;
    opacity: 0.5;
    margin: 0px;
    padding: 0px;
}

.results img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin: 0px;
    padding: 0px;
}
